<div class= "row">
    <div class="col-sm-4 text-center vertical-center col-sm-offset-2">
        <a href= <%= assignments_path %> class="btn btn-default manage-students"  style ="width:100%">
                <i class="fa fa-group fa-user front-page-icon-font"></i> <br />
                Assignment List
        </a>
    </div>
    <div class="col-sm-4 text-center vertical-center">
        <a  class="btn btn-default manage-students"  style ="width:100%" href="<%= assignment_trackings_path %>">
                <i class="fa fa-user front-page-icon-font"></i> <br />
                Add a solution
        </a>
    </div>
</div>