<div class= "row">
    <div class="col-sm-4 text-center vertical-center col-sm-offset-2">
        <a href= <%= projects_path %> class="btn btn-default manage-students"  style ="width:100%">
                <i class="fa fa-group fa-user front-page-icon-font"></i> <br />
                Project Information
        </a>
    </div>
    <div class="col-sm-4 text-center vertical-center">
        <a  class="btn btn-default manage-students"  style ="width:100%" href="<%= keys_path %>">
                <i class="fa fa-user front-page-icon-font"></i> <br />
                Your Contribution 
        </a>
    </div>
</div>