<div class="col-sm-4 text-center">
   <button type="button" class="btn btn-default manage-courses"   style ="width:100%">
            <i class="fa fa-list front-page-icon-font"></i><br />
            Manage Courses<br />
        </button>
</div>