<div class="row">
    <div class="col-sm-4 col-sm-offset-4 form-group">
        <%= select_tag "role_select", options_for_select({"Student" => "student","Teacher" => "teacher"}) ,prompt: "Who are you ???", class: "form-control"%>
    </div>
</div>
<br />

<div class= "student-form role-form" style = "display:none">
    <%= render partial: "students/form" %>   
</div>
 
<div class= "teacher-form role-form" style = "display:none">
    <%= render partial: "teachers/form" %>
</div>