<div class="col-sm-4 text-center">
    <div class="panel panel-default">
        <div class="panel-heading default-color">Are You A Student...?</div>
        <div class="panel-body">
            <i class="fa fa-graduation-cap front-page-icon-font"></i>
            If more than 12 columns are placed within a single row, each group of extra columns will, as one unit, wrap onto a new line. Grid classes apply to devices with ...
        </div>
    </div>
</div>