<div class="col-sm-6 text-center">
   
    <a class="btn btn-default popover-inside-button" href="<%=student_courses_path%>" >
            <i class="fa fa-link front-page-icon-font"></i> <br />
             Student-Faculty
    </a>
</div>
<div class="col-sm-6 text-center">
   
    <a class="btn btn-default popover-inside-button"  href="<%=courses_path%>">
            <i class="fa fa-book front-page-icon-font"></i> <br />
            Faculty Courses
    </a>
</div>

<div class="col-sm-6 text-center">
   
    <a class="btn btn-default popover-inside-button"  href="<%=admin_index_path%>">
            <i class="fa fa-home front-page-icon-font"></i><br />
            Home
    </a>
</div>

<div class="col-sm-6 text-center">
   
    <a class="btn btn-default popover-inside-button"  href="<%=videos_path%>">
            <i class="fa fa-file-video-o front-page-icon-font"></i><br />
            Upload video
    </a>
</div>




